.box-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 8px 0;
    justify-content: center;
}


 

.box-container__item{
    cursor: pointer;
    font-size: calc(2.8rem + 2vmin);
    text-align: center;
    width: 30%;
    height: calc(12vh + 2vmin);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
@media screen and (min-width:500px){
    .box-container__item{
        font-size: 4rem;
        height: 20vh;
    }
}
.box-container__item:hover{
    background: #e5e5e5;
}
.box-item__border-top{
    border-top: 2px solid black;
}
.box-item__border-right{
    border-right: 2px solid black;
}
.box-item__border-bottom{
    border-bottom: 2px solid black;
}
.box-item__border-left{
    border-left: 2px solid black;
}