.overlay-container {
    position: fixed;
    top: 15%;
    left: 8%;
    width: calc(70% + 15vmin);
    background: white;
    /* height: calc(70vh + 10vmin); */
    padding: 0.5rem 0 1rem;
    display: flex;
    flex-direction: column;
}


.overlay__header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    /* height: 10%; */
    margin: 0 auto;
    border-bottom: 1px solid grey;
}

.overlay__header__text {
    text-align: center;
    width: 100%;
    font-weight: bold;
}
.overlay__header__close_btn{
    margin: 12px 0;
    padding: 2px 0;
    background: #50b0bf;
    color: white;
    font-weight: bold;
    border-radius: 52px;
    width: 15%;
    text-align: center;
}

.overlay__header__close_btn:hover{
    background: #2c707a;
}
.overlay__content {
    width: 95%;
    /* height: 90%; */
    margin: 0 auto;
}

@media screen and (min-width:480px) and (max-width:800px) {
    
    .overlay__header__close_btn{
        width: 7%;
    }
}
@media screen and (min-width:800px) {
 
    .overlay__header__close_btn{
        width: 5%;
    }
}
@media screen and (min-width:480px) {
    .overlay-container {
        top: 25%;
        /* height: calc(50vh + 10vmin); */
    }

    .overlay__header {
        /* height: 15%; */
    }

    .overlay__content {
        width: 95%;
        /* height: 85%; */
    }
}